.homePage {
  height: 100vh;
}

a {
  text-decoration: none;
}

.linkToSearch {
  color: #e2e2e3;
  margin-top: 5vh;
  text-align: center;
}

.logo {
  width: 40vw;
  margin: 7.5vh 30vw;
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 50vw;
    margin: 12.5vh 25vw;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 70vw;
    margin: 15vh 15vw;
  }
}
