.nominations {
  width: 37.5%;
  text-align: center;
}

.nominationCard {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5vh;
  align-items: center;
  border: 2px solid #daa520;
  padding: 10px;
}

.nominatedMoviePoster {
  width: 7.5vw;
  vertical-align: middle;
}

.nominatedInfo {
  width: 100%;
  overflow: scroll;
}

.border {
  width: 100%;
  margin-bottom: 5vh;
}
