.resultCard {
  width: 15vw;
  margin: 1vh 1vh 5vh;
  text-align: center;
  display: inline-block;
  border: 2px solid #daa520;
  padding: 10px;
}

.resultMoviePoster {
  width: 100%;
  cursor: pointer;
  object-fit: contain;
}

.nominateBtn {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  bottom: 0;
}

.movieInfo {
  font-size: 1.5vh;
  text-align: center;
  padding: 2vh;
  min-height: 5vh;
}

.apiResults {
  display: flex;
  flex-direction: row;
}

.results {
  width: 50%;
  margin-left: -1vh;
  text-align: center;
}
