.resultCard {
  width: 15vw;
  margin: 1vh 1vh 5vh;
  text-align: center;
  display: inline-block;
}

.resultMoviePoster {
  width: 100%;
  cursor: pointer;
}

.nominateBtn {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  bottom: 0;
}

.movieInfo {
  font-size: 1.5vh;
  text-align: center;
  padding: 1vh;
}

.apiResults {
  display: flex;
  flex-direction: row;
}

.results {
  width: 50%;
  margin-left: -1vh;
}
